.footer__title {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  color: #545454;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 620px) {
  .footer__title {
  	font-size: 14px;
  	line-height: 17px;
  }
}
