.footer {
  margin: 0 auto;
  padding: 60px 0 60px 0;
  max-width: 882px;
  display: flex;
}

@media screen and (max-width: 904px) {
  .footer {
    margin-left: 19px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
  	padding: 36px 0 36px 19px;
  	margin-left: 0;
  }
}
