.popup__close_image {
  position: absolute;
  top: -5%;
  left: 100%;
}

.popup__close_image:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .popup__close_image {
  height: 25px;
  width: 25px;
  top: -26px;
  left: 152px;
  }
}
