.header__container {
    display: flex;
    align-items: center;
    padding-bottom: 46px;
    margin-top: 51px;
}

@media screen and (max-width: 430px) {
  .header__container {
    display: block;
    align-items: left;
    padding-bottom: 26px;
    margin-top: 21px;
  }
}
