.root {
  margin: 0 auto;
  padding: 20px 0 60px 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  background-color: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  hyphens: auto;
  width: 100%;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}